<section class="mediapartner">
  <a name="mediapartner"></a>
  <div class="container group">

  <div class="container group">
    <h3 class="center">Media Partner</h3>
    <div class="">
      <a class="banner" target="_blank" href="http://www.phpbestpractices.it" title="PHP best practices">
        <img src="/img/sponsors/sponsor_phpbestpractices.png" alt="sponsor PHP best practices" width="300" height="120" />
      </a>
      <div class="clear"></div>
    </div>

    </div>
    <div class="separator"></div>
</section>